.lp-order-list{
	table{
		.lp-placeholder{
			animation: loading-fade 1.6s ease-in-out infinite;
			background-color: #f0f0f0;
			color: transparent;
			display: inline-block;
			height: 16px;
			max-width: 120px;
			width: 80%;
		}

		tbody > tr{
			background-color: transparent!important;
		}
	}
}
